@import 'maplibre-gl/dist/maplibre-gl.css';
*{margin:0;padding:0;box-sizing:border-box}
body{overflow:hidden}
.maplibregl-popup-content{padding:0!important;background:transparent!important;box-shadow:none!important}
.maplibregl-popup-close-button{color:#fff;font-size:20px;padding:5px 10px}
